$main-color = teal;
$secondary-color = white

$main-font = 'Niconne'
$secondary-font = 'Libre Baskerville'

body
  background-color $main-color
  color $secondary-color
  font-family $secondary-font
  padding 25px
  h1
    font-family $main-font
    font-size 30pt
  .title
    font-weight bold
    text-align center
  .card
    background-color $secondary-color
    position relative
    margin 20px auto auto auto
    max-width: 550px
    border-radius 20px
    color $main-color
    padding 10px 15px
    box-shadow 0px 10px rgba(154, 145, 136, 0.6)
    hr
      border 1px solid $main-color
      margin 1px 0
  .quote
    font-size 17pt
    padding 20px 20px 0
  .author
     float right
     color gray
     margin 40px 0px
     font-size 12pt
   button
     background-color transparent
     outline none
     margin 10px 10px
     padding 10px
     border-radius 20px
     border 1px solid $main-color
     color $main-color

footer
  font-size 12px
  text-align center
  position relative
  margin 50px 0
  width 100%

#randomBtn
  color $secondary-color
  background-color $main-color
